body {
	margin: 0 auto;
	font-family: 'Lora', serif;
}
.p1 {
	background-image: url(../../media/img/IMAGE.jpg);
	background-size: 100%;
	padding-bottom: 7.5%;
}
.header-style {
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.logo {
	color: rgba(255, 255, 255, 1);
	font-size: 26px;
	margin-left: -13%;
}
ul {
	list-style: none;
	display: flex;
	/*margin-right: -45%;*/
}
li {
	padding-right: 25%;
}
.menu-color {
	color: rgba(255, 255, 255, 1);
	font-family: 'Oxygen', sans-serif;
	font-size: 12px;
	text-decoration: none;
}

.text-p1 {
	color: rgba(255, 255, 255, 1);
	font-size: 51px;
	padding-top: 6%;
	text-align: center;
	border: 1px solid transparent;
	width: 504px;
}
.text2-p1 {
	color: rgba(255, 255, 255, 0.63);
	font-size: 17px;
	border: 1px solid transparent;
	width: 504px;
	text-align: center;
	font-family: 'Oxygen', sans-serif;
}
.text-style-p1 {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.button {
	color: rgba(255, 255, 255, 1);
	font-family: 'Oxygen', sans-serif;
	font-size: 13px;
	border: 1px solid rgba(221, 120, 63, 1);
	width: 167px;
	background-color: rgba(221, 120, 63, 1);
	text-align: center;
	padding: 1% 0;
	border-radius: 3px;
	margin-top: 3%;
}

/*p2*/
.p2 {
	display: flex;
	justify-content: center;
	padding-top: 2%;
	padding-bottom: 2%;
}
.t-p2 {
	color: rgba(118, 128, 136, 1);
	font-size: 14px;
	padding-right: 4.5%;
	padding-left: 4.5%;
}

/*p3*/
.p3 {
	background-color: rgba(247, 247, 247, 1);
	
}
.t-p3-style {
	display: flex;
	justify-content: center;
}
.photo-style-p3 {
	padding-top: 4%;
	padding-left: 1%;
	padding-right: 1%; 
}
.style-p3 {
	display: flex;
	justify-content: center;
}
.t-p3 {
	color: rgba(46, 46, 46, 1);
	font-size: 27px;
	border-bottom: 1px solid rgba(222, 222, 222, 1);
	width: 188px;
	padding-top: 8%;
	font-family: 'Oxygen', sans-serif;
	padding-bottom: 2%;
}
.t1-p3 {
	color: rgba(255, 255, 255, 1);
	font-size: 27px;
	position: relative;
	top: -36%;
	left: 4%;
}
.t2-p3 {
	color: rgba(255, 255, 255, 0.7);
	font-size: 14px;
	position: relative;
	top: -34%;
	left: 4%;
	font-family: 'Oxygen', sans-serif;
}
.t3-p3 {
	color: rgba(255, 255, 255, 0.7);
	font-size: 12px;
	position: absolute;
    top: 142%;
    left: 11%;
    border: 1px solid transparent;
    width: 150px;
    display: flex;
    align-items: center;
    font-family: 'Oxygen', sans-serif;
}
.t3_2-p3 {
	color: rgba(255, 255, 255, 0.7);
	font-size: 12px;
	position: absolute;
    top: 142%;
    left: 53%;
    border: 1px solid transparent;
    width: 150px;
    display: flex;
    align-items: center;
    font-family: 'Oxygen', sans-serif;
}
.t4-p3 {
	color: rgba(255, 255, 255, 0.7);
	font-size: 12px;
	position: absolute;
    top: 142%;
    left: 79%;
    font-family: 'Oxygen', sans-serif;
}
.t4-1-p3 {
	color: rgba(255, 255, 255, 0.7);
	font-size: 12px;
	position: absolute;
    top: 142%;
    left: 37%;
    font-family: 'Oxygen', sans-serif;
}
.img-padd-p3 {
	padding-right: 6%;
}

/*p4*/
.p4 {
	background-color: rgba(247, 247, 247, 1);
	padding-bottom: 13%;
}
.t-p4 {
	color: rgba(46, 46, 46, 1);
	font-size: 27px;
	border-bottom: 1px solid rgba(222, 222, 222, 1);
	width: 160px;
	padding-top: 8%;
	font-family: 'Oxygen', sans-serif;
	padding-bottom: 2%;
}
.p3-style-i-t {
	border: 1px solid transparent;
	width: 296px;
	background-color: rgba(255, 255, 255, 1);
	margin-left: 0.6%;
	margin-right: 0.6%;
	margin-top: 4%;
}
.t1-p4 {
	font-size: 16px;
 	color: rgba(16, 19, 21, 1);
 	padding-left: 4%;
}
.t2-p4 {
	font-size: 13px;
 	color: rgba(122, 122, 122, 1);
 	font-family: 'Oxygen', sans-serif;
 	border-bottom: 1px solid rgba(239, 239, 239, 1);
 	width: 294px;
 	height: 33px;
 	padding-bottom: 5%;
 	padding-left: 4%;
 	padding-top: 3%;
 }	
.t3-p4 {
	font-size: 11px;
 	color: rgba(153, 153, 153, 1);
 	border: 1px solid transparent;
 	width: 200px;
 	display: flex;
 	align-items: center;
 	font-family: 'Oxygen', sans-serif;
}
.t4-p4 {
	font-size: 12px;
 	color: rgba(153, 153, 153, 1);
 	margin-right: 5%;
 	font-family: 'Oxygen', sans-serif;
}
.text-style-p4 {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 4%;
	padding-bottom: 4%;
	font-family: 'Oxygen', sans-serif;
}
.img-p4 {
	padding-right: 8%;
	padding-left: 4%;
}
.style-p4 {
	display: flex;
	justify-content: center;
}

/*p5*/

.p5 {
	background-image: url(../../media/img/img1.jpg);
	display: flex;
	flex-direction: column;
	align-items: center;
}
.text-p5 {
	padding-top: 8%;
	text-align: center;
	color: rgba(239, 239, 239, 1);
	border-bottom: 1px solid rgba(222, 222, 222, 1);
	width: 169px;
	padding-bottom: 2.5%;
	font-size: 25px;
}
form {
	margin-top: 7%;
	border: 1px solid reg;
	width: 600px;
	padding-bottom: 15%;
}
input {
	border: 1px solid transparent;
	width: 375px;
	background-color: rgba(255, 255, 255, 1);
	color: rgba(129, 127, 131, 1);
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	padding: 2%;
	border-radius: 3px;
}
button {
	background-color: rgba(255, 255, 255, 0.28);
	color: rgba(248, 248, 248, 1);
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	border: 1px solid transparent;
	width: 120px;
	padding: 2%;
	border-radius: 3px;

}
footer {
	background-image: url(../../media/img/footer_img1.png);
	background-color: rgba(35, 47, 56, 0.6);
	background-blend-mode: overlay;
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding-top: 1.5%;
	padding-bottom: 1.5%;
}
.t-footer {
	text-decoration: none;
	color: rgba(255, 255, 255, 0.6);
	font-size: 11px;
	font-family: 'Oxygen', sans-serif;
	padding-right: 10%;
	padding-left: 10%;
}
.logo-footer {
	color: rgba(255, 255, 255, 1);
	font-size: 26px;
}
.t-footer {
	display: flex;
}
